extends layout.jade
include mixin.jade

block conoceme
	+tituloSeccion('S','o','b','r','e',' ','m','i')
	+separador()
	.sobreMi.courier  
		p Hola, Mi nombre es Arabelia, naci en el hermoso Valle del Colca. Me gusta la naturaleza, los animales y las plantas.  
		p Me apasiona realizar proyectos y verlos hechos realidad. Me gusta la tecnologia y la investigación, enfocados a contribuir con el bienestar de la socidad y sobre todo del medio ambiente.
block trabajos
	+tituloSeccion('M','i','s',' ','p','r','o','y','e','c','t','o','s')
	+separador()
block tituloIntereses
	+tituloSeccion('M','i','s',' ','i','n','t','e','r','e','s','e','s')
block interes1
	+interes2("Mi author favorito","Paulo Cohelo")
//- block interes2
//- 	+interes2("Mi author favorito","Paulo Cohelo")
block interes3
	+interes2("Mi author favorito","Paulo Cohelo")
block interes4
	+interes1("Proteger")
block interes5
	+interes1("LA NATURALEZA Y LA VIDA")
block interes6
	+interes1("Conocer la cultura e historia VIVA")
block cuadros
	.div
		.row.cuadros
			.col-sm-4
				+imagen('../images/gentleman.png')
			.col-sm-4
				+imagen('../images/primes.png')
			.col-sm-4
				+imagen('../images/triangle.png')
		.row.cuadros
			.col-sm-6
				+imagen('../images/republica.png')
			.col-sm-6
				+imagen('../images/descarga.jpg')

		.col-sm-2
block contactame
	+tituloSeccion('C','o','n','t','a','c','t','a','m','e')