extends layout.jade
include mixin.jade
block bodyInicio
	body.centrar
block menu
	+menu("Sobre mi","#sobreMi","Mis intereses","#intereses","Mis proyectos","#misProyectos","Contactame","#contacto","assets/images/espana.jpg","index.html","assets/images/eeuu.jpg","index.html","assets/images/brasil.jpg","index.html")
block fraseInicial
	+fraseInicial("DESARROLLADORA WEB")
block conoceme
	+tituloSeccion('S','o','b','r','e',' ','m','i')
	+separadorSup()
	+sobreMi("Hola, Mi nombre es Arabelia, naci en el hermoso Valle del Colca. Me gusta la naturaleza, los animales y las plantas.","Me apasiona realizar proyectos y verlos hechos realidad. Me gusta la tecnologia y la investigación, enfocados a contribuir con el bienestar de la socidad y sobre todo del medio ambiente.")
block tituloIntereses
	+tituloSeccion('M','i','s',' ','i','n','t','e','r','e','s','e','s')
block trabajos
	+tituloSeccion('M','i','s',' ','p','r','o','y','e','c','t','o','s')
	+separadorSup()
block interes1
	+interes1("Mi author favorito: Paulo Cohelo")
//- block interes2
//- 	+interes2("Mi author favorito","Paulo Cohelo")
block interes3
	+interes1("Conocer la historia y cultura VIVA")
block interes4
	+interes1("Conocer")
block interes5
	+interes1("LA NATURALEZA Y LA VIDA")
block interes6
	+interes1("Superarse es preciso, seguir de frente es escencial, mirar para atras es pérdida de tiempo, si el pasado fuese bueno seria el presente.")
block cuadros
	.div
		.row
			.col-sm-4
				+cuadros("https://github.com/arabelia/gentleman",'assets/images/gentleman.PNG',"Proyecto de maquetado y diseño")
			.col-sm-4
				+cuadros("https://github.com/arabelia/primes",'assets/images/primes.PNG',"Proyecto de maquetado y diseño")
			.col-sm-4
				+cuadros("https://github.com/VivianaRA/Triangle-Theme",'assets/images/triangle.PNG',"Aplicando librerias y efectos.")
		.row
			.col-sm-1
			.col-sm-5
				+cuadros("https://github.com/elizabethqsaico/Lab-LaRepublica",'assets/images/republica.PNG',"Proyecto desarrollado en equipo.")
			.col-sm-5
				+cuadros("https://github.com/arabelia/escuela-danza",'assets/images/danza.PNG',"Proyecto desarrollado en equipo.")
block contactame
	+tituloSeccion('C','o','n','t','a','c','t','a','m','e')