include mixin.jade
doctype html
html(lang='es-PE')
	include head.jade
	block bodyInicio
	//- body.centrar
	block pagina
		#portada
			#blur
				.bubbleLarge
				.bubbleLarge
				.bubbleLarge
				.bubbleLarge
				.bubbleLarge
				.bubbleMedium
				.bubbleMedium
				.bubbleMedium
				.bubbleMedium
				.bubbleMedium
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
				.bubbleSmall
			#hide(onclick="document.getElementById('blur').style.display = 'none';")
			#show(onclick="document.getElementById('blur').style.display = 'inline';")
			block menu
			//- .menu
			//- 	ul.list-unstyled.list-inline.courier
			//- 		li
			//- 			a(href="espanol.html") Español
			//- 		li
			//- 			a(href="#") English
			//- 		li
			//- 			a(href="#") Portugues
			+nombre('A','r','a','b','e','l','i','a')
			block fraseInicial
			.separadorPortada
				img(src='assets/images/separadorPortada.png')
	block cuerpo
		.contenedor
			//-header
			.container
				#sobreMi
					.row.espaciado
						.col-sm-5
							//- .rotar0.foto0.enlinea
							//- 	img(src='assets/images/s3.png')
							//- .rotar1.foto1.enlinea
							//- 	img(src='assets/images/s3.png')
							.foto.rotar
								img(src='assets/images/images.jpg')
						.col-sm-7
							block conoceme
							+separadorInf()
				#intereses
					.row.espaciado
						block tituloIntereses
						+separadorSup()
						block intereses
							.row
								.col-sm-4
									.interes1.wow.slideInLeft(data-wow-duration="500ms", data-wow-delay="300ms")
										block interes1
								.col-sm-4
									.interes2
										block interes2
										//- reloj
										//- #reloj
										//- #fecha
										.reloj
											.base
												img(src='assets/images/baseReloj.png')
											.hand.hours
												img(src='assets/images/h.png')
											.hand.mins
												img(src='assets/images/m.png')
											.hand.seconds
												img(src='assets/images/s.png')
								.col-sm-4
									.interes3.wow.slideInRight(data-wow-duration="500ms", data-wow-delay="300ms")
										block interes3
							.interes4.wow.slideInLeft(data-wow-duration="600ms", data-wow-delay="300ms")
									block interes4
							.interes5.wow.slideInRight(data-wow-duration="600ms", data-wow-delay="300ms")
									block interes5
							.interes6.wow.fadeInUp(data-wow-duration="600ms" data-wow-delay="400ms")
									block interes6
						+separadorInf()
				#misProyectos
					.row.espaciado
						block trabajos
						block cuadros
						+separadorInf()
				#contacto
					.row.contactos.espaciado
						block contact0
							//- .enlinea.tam1
							//- 	+imagen('../images/correo.png')
							.enlinea
								block contactame
							+separadorSup()
							p.correo.courier arabelia.aragon.q@gmail.com
							//- .contacto.enlinea
							//- 	+imagen('assets/images/face.jpg')
							.contacto.enlinea
								a(href="https://github.com/arabelia")
									+imagen('assets/images/github.png')
				//- prueba del reloj
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		script(type="text/javascript" src="assets/js/main.js")
